<div class="video-item">
    <a href="/video/{{id}}" class="video-link">
        <img src="{{thumbnail}}" alt="{{title}}" class="video-thumbnail"/>
        <h3 class="video-title">{{title}}</h3>
    </a>
    <p class="video-description">{{description}}</p>
</div>



